<?php

\DomainChecker\Core\Config::add(array(
    'resolver' => '8.8.8.8',
    'webserver_ips' => array(
        '192.168.2.32/28',
        '192.168.1.1',
        '192.168.1.2',
        '192.168.1.3',
    ),
    'mxserver_ips' => array(
        '192.168.1.1',
    ),
    'spamserver_ips'    => array('192.168.1.2'),
    'ssh_private_key'   => '/home/user/.ssh/id_dsa',
    'exclude_ssh_ips'   => array('192.168.2.33'),
    'fis_version'       => '42.0.0',

    'data_dir'  => dirname(__DIR__).'/data',

    'log_dir'   => dirname(__DIR__).'/logs',

    'database_class'    => '\\DomainChecker\\Database\\Json',
    'sqlite_db'         => dirname(__DIR__).'/data/domain_checker.sqlite',
    'json_db'           => dirname(__DIR__).'/data/domain_checker.json',
));